with product
    .ui.container
        .ui.center.aligned.header Edit Product
        .ui.form
            +edit_title
            +edit_image
            +edit_description
            +edit_tags
            +edit_price
            +published
            if tags
                #save_product.ui.green.button 
                    i.check.icon
                    |Save
            +delete_button
