template(name='home')
    // +slider
    .ui.container
        +team
        +services


template(name='team')
    .ui.very.padded.segment
        .ui.header Team
        .ui.list
            .item Eric Jackson: Director
            .item Tori Webster: Director of Operations
            .item Jennifer Phelps: Director of Research
            .item Ellie: Media
            .item Lauren: Content
            .item Brooke: UX/ User Experience
            .item Brian: Software Engineer

template(name='services')
    .ui.horizontal.divider.header Services
    .ui.list
        .item Web Design
        .item App Development
        .item Content
        .item Marketing
        .item Design
    .ui.horizontal.divider.header Products
    .ui.list
        .item Facet Data 
        .item Watering Hole Community Software
        .item Bubl Social Data Analytics
    .ui.horizontal.divider.header Projects
    .ui.list
        .item Project Sphere


                    
